<!DOCTYPE html>
<html ng-app="Connection">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="ConnectCtrl">
<h1>{{title}}</h1>

<div ng-repeat="user in users track by $index">
<h3>{{user.username}}</h3>
</div>
<input ng-model="newuser" />
<button ng-click="sendLogs()">Ok</button>
<script src="/socket.io/socket.io.js"></script>
<script>
</script>
</body>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/angular/index.js"></script>
</html>