<div class="container">
<div ng-controller="formController">
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
                <div class="panel-body">
                <div class="btn-group" dropdown>
                <button type="button" class="btn btn-primary">Selectionner un événement</button>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
            <li class="menuOption" ng-repeat="event in data.eventOther track by $index">
            <a role="menuitem" tabindex="-1" href="#">{{event.name}}</a>

            </li>
            </ul>
            </div>
                <button type="button" class="btn btn-primary" ng-click="create()" >Créer un événement</button>
                <div>
                <br/>
                    <select  ng-model="data.events" ng-options="k as v.name for (k, v) in data.eventOther"> </select>
        <tabset justified="true">
        <tab heading="Configuration"><div ng-include="'param.html'"></div></tab>
        <tab heading="Aperçu">Contenu en approche</tab>
        <tab heading="Analytics">Contenu en approche</tab>
        </tabset>
        </div>
            </div>
                
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
                <div class="panel-body">
                
                </div>
            </div>
        </div>
    </div>
    </div>
</div>