<nav ng-controller="ConnectCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
    <a class="navbar-brand"><img alt="Hep" src="img/icon-40.png" style="margin-top: -10px"/></a>
          </div>
      <div ng-show="!loggerduser && !loggerduser.usernane">
    <form class="navbar-form navbar-right form-inline" role="form" ng-submit="'#/params'">
  <div class="form-group">
      <label class="sr-only" for="email">Email address</label>
      <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Username/Email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="Password">
  </div>
  <button ng-click="login(user)" class="btn btn-success">Sign in</button>
</form>
      </div>
      <div ng-show="loggerduser && loggerduser">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <p class="navbar-text navbar-left">Connecté en tant que <a href="#" class="navbar-link">{{loggerduser.firstname}} {{loggerduser.lastname}}</a></p>
          <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="">Accueil</a></li>
                <li><a href="">Mon profil</a></li>

                <li ng-show="loggerduser.admin"><a href="">Administration</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Mes événements <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Créer un nouvel événement</a>
                            <a href="">Evénement en cours</a>
                            <a href="">Evénement terminé</a>
                        </li>
                    </ul>
                </li>
                <li><a ng-click="logout()">Se déconnecter</a></li>
            </ul>
          </div>
      </div>

  </div>
</nav>
