<div class="row">
    <div style="height: 900px">
<div style="margin-left: 25%;padding-top: 5%;">
    <img src="/img/Hep1.png"></img>
</div>
</div>

    <div ng-controller="CarouselDemoCtrl" id="slide_control">

    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;height: 900px;">
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
</div>
<div style="height: 900px">

        <div class="col-md-6 col-md-offset-3">
        <div class="embed-responsive embed-responsive-4by3" style="margin-top: 12%;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PfkUMTIsWzQ" allowfullscreen></iframe>
        </div>
        </div>
        </div>
    </div>
