<div class="container" ng-controller="formController">
    <div>
        <div class="row">
        <div class="col-xs-6 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary">Selectionner un événement</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="menuOption" ng-repeat="event in data.eventOther track by $index">
                                <a role="menuitem" tabindex="-1" href="#">{{event.name}}</a>

                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="create()" >Créer un événement</button>
                        <br/>
                        <select  ng-model="data.events" class="bootstrap-select" ng-options="k for (k, v) in data.eventOther"> </select>
                        <tabset justified="true">
                            <tab heading="Configuration">
                                    <form role="form" method="post" ng-submit="save(data.events, position)" enctype="multipart/form-data">
                                        <h1 class="page-header"></h1>
                                        <h2>Paramètres généraux</h2>
                                        <div class="form-group">
                                            <label for="NameEvent">Nom de l'événement</label>
                                            <input type="text" class="form-control" id="NameEvent" placeholder="Nom de l'événement" ng-model="data.events.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="CodeEvent">Nombre de participent maximum</label>
                                            <input type="text" class="form-control" id="CodeEvent" placeholder="Nombre de participant maximum" ng-model="data.events.MaxUser">
                                        </div>
                                        <div class="form-group">
                                            <label for="DateStart">Date de début</label>
                                            <input type="Date" class="form-control" id="DateStart"  ng-model="data.events.start">
                                        </div>
                                        <div class="form-group">
                                            <label for="DateEnd">Date de fin</label>
                                            <input type="Date" class="form-control" id="DateEnd" ng-model="data.events.event">
                                        </div>
                                        <h1 class="page-header"></h1>
                                        <h2>Personnalisation du profil</h2>
                                        <div class="form">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4 col-md-6">
                                                    <label for="Champ 1">Champ 1</label>
                                                    <input type="text" class="form-control" id="Champ 1" ng-model="data.events.champ">
                                                </div>
                                                <div class="col-xs-6 col-sm-4 col-md-6">
                                                    <div ng-repeat="rep in reps">
                                                        <label for="rep a">Réponse possible</label>
                                                        <input type="text" class="form-control" id="rep a"placeholder="{{rep}}" ng-model="data.events.rep[$index]">
                                                    </div>
                                                    <a class="btn btn-info btn-sm" ng-click="addrep()">Ajouter une réponse</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4 col-md-6">
                                                    <label for="Champ 2">Champ 2</label>
                                                    <input type="text" class="form-control" id="Champ 2" ng-model="data.events.champa"></div>
                                                <div class="col-xs-6 col-sm-4 col-md-6">
                                                    <div ng-repeat="repa in repsa">
                                                        <label for="rep b">Réponse possible</label>
                                                        <input type="text" class="form-control" id="rep b" placeholder="{{repa}}" ng-model="data.events.repa[$index]">
                                                    </div>
                                                    <a class="btn btn-info btn-sm"  ng-click="addrepa()">Ajouter une réponse</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4 col-md-6"><label for="Champ 3">Champ 3</label>
                                                    <input type="text" class="form-control" id="Champ 3" ng-model="data.events.champb"></div>
                                                <div class="col-xs-6 col-sm-4 col-md-6">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4 col-md-6"><label for="Champ 4">Champ 4</label>
                                                    <input type="text" class="form-control" id="Champ 4" ng-model="data.events.champc"></div>
                                                <div class="col-xs-6 col-sm-4 col-md-6">
                                                </div>
                                            </div>

                                        </div>
                                        <h1 class="page-header"></h1>
                                        <h2>Personnalisation de l'apparence</h2>
                                        <h1 class="page-header"></h1>
                                        <label for="color">Couleur de l'applicaion</label>
                                        <input id="color" colorpicker class="form-control" placeholder="Cliquez ici" type="text" ng-model="data.events.colorapp"/>
                                        <div class="form-group">
                                            <label for="headerbranding"><br />
                                                Bannière de l'événement</label>


                                            <div class="btn btn-default" ngf-select ng-model="data.file" ngf-multiple="false">File Upload</div>

                                            <p class="help-block">Taille de bannière conseillée: h :x w :x</p>
                                        </div>
                                        <label for="color">Symbole champ 1</label>
                                        <select class="form-control">
                                            <option>Rouge</option>
                                            <option>Orange</option>
                                            <option>Bleu</option>
                                            <option>Vert</option>
                                        </select>
                                        </br>
                                        <div ng-repeat="repa in repsa">
                                            <label for="color">Couleur champ 2</label>
                                            <input id="color" class="form-control" colorpicker placeholder="Cliquez ici" type="text" ng-model="data.events.colorchamp2[$index]"/>
                                        </div>
                                        <h1 class="page-header"></h1>
                                        <div id="divCheckbox" style="display: none;" ng-model="data.events.id"></div>
                                        <button type="submit" class="btn btn-success btn-lg" ng-class="{'disabled' : data.saving}"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="data.saving"></span> {{data.message}}</button>
                                    </form>
                                    <h1 class="page-header"></h1>
                            </tab>
                            <tab heading="Aperçu"></tab>
                            <tab heading="Analytics">Contenu en approche</tab>
                        </tabset>

                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <input type="search" class="form-control" placeholder="Recherche" ng-model="search"/>&nbsp;
                        <map center="{{search}} | France" zoom="9" on-click="pos()">
                            <marker position="{{search}} | France" on-drag="pos()" animation="DROP" draggable="true" ></marker>
                            <shape id="circle" name="circle" centered="true"
                                   center="{{search}} | France"
                                   stroke-color='#FF0000' stroke-opacity="0.8" stroke-weight="2"
                                   radius="4000" editable="true" ></shape>
                        </map>
                    </div>
                </div>
            </div>
            </div>

    </div>
    </div>
</div>

