<div class="row">
    <div class="col-md-10">
<form class="form-horizontal" ng-controller="ProfilController" >
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">Prénom</label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="user.firstname" id="firstname" placeholder="Prénom">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
            <input class="form-control" ng-model="user.lastname" id="lastname" placeholder="Nom">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" ng-model="user.email" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Numéro de téléphone</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" ng-model="user.number" id="number" placeholder="Numéro de téléphone">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" ng-model="user.password" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click="register(user)" class="btn btn-default">Mettre à jour</button>
        </div>
    </div>
</form>
</div>
</div>